.the-project{
  padding: 10rem 0;
  background: url('./img/the-project.jpg') center center/cover no-repeat;;
  display: block;
  position: relative;
  top: 0;
  color: #fff;
}

h2 {
  text-align: center;
}

.text-wrap {
  width:  666px;
  max-width: 66%;
  margin: 0 auto;
}

.text-wrap > p {
  margin-bottom:  15px;
  font-size: 1.2rem;
  text-align: justify;
  line-height: 25px;
}

.the-story {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  object-fit: contain;
}

.highlights {
  font-size:  1.6em;
  font-weight: bold;
  text-decoration: 0.1px overline;  
  text-align: center;
  margin-bottom: 5%;
}

.deloused-cover {
  display: none;
  position: relative;
  bottom: 73vh;
  left: 34vh;
  z-index: -1;
  opacity: 0.5;
}

.hover-displayable:hover~.deloused-cover{
    display: block;
}

@media screen and (max-width: 768px) {
  .featured-images{
    height: 180vh;
  }
  .text-wrap {
    max-width: 100%;
    width: 100%;
    padding: 4rem 2rem;
  }
  .text-wrap > p {
    margin-bottom:  15px;
    font-size: 1.2rem;
    text-align: justify;
    line-height: 25px;
  }
}